<h1>Connexion</h1>
<a href="/admin/">Retourner à l'accueil</a>
<%= form_tag "/admin/login", method: :post do %>
  <input type="text" placeholder="name" name="name" />
  <input type="password" placeholder="password" name="password" />
  <input type="submit" value="Se connecter" />
<% end %>