<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>FOIRE AUX QUESTIONS</h1>
        </div>   
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>SEVA c'est quoi ?</h2>
            <p>seva.bzh est une plateforme comparative de sneakers & street-wear qui permet d'avoir accès à plus de 30 000 choix de sneakers et de vêtements street-wear au meilleur prix.</p>
            <p>26 webmarchands européens sont référencés pour vous proposer un choix important de produits en une seule plateforme.</p>
        </div>
        <div class="col-md-12">
            <h2>Comment fonctionne le site seva.bzh ?</h2>
            <p>Vous avez la possibilité de chercher directement un produit grâce à la barre de recherche ou soit de vous laisser guider sur le site en fonction des nouveautés et tendances proposées. Les catégories sneakers et vêtements sont créées pour référencer tous les produits des marchands.</p>
        </div>
        <div class="col-md-12">
            <h2>Qui sont les marchands référencés ? Est-ce que les produits sont authentiques ?</h2>
            <p>L'ensemble des marchands dont les produits sont référencés sur notre site sont européens. Toutes les boutiques ont été sélectionnés avec le plus grand soin afin de vous proposer des produits de qualité. Nous avons pris en compte la notoriété de la boutique, sa fiabilité et les avis des clients.</p>
        </div>
        <div class="col-md-12">
            <h2>Pourquoi le prix du produit affiché sur seva.bzh est différent de celui affiché sur le site marchand ?</h2>
            <p>Nous mettons en place tous les moyens nécessaires pour vous apporter une information fiable et actualisée. La différence de prix peut être due à une nouvelle promotion ou à un problème technique. Les prix des produits sont actualisés une fois par jour. Il faut toujours se fier aux prix des marchands une fois redirigé(e) vers les sites, car les transactions s'effectuent sur les sites marchands.</p>
        </div>
        <div class="col-md-12">
           <h2>Pourquoi le produit est toujours affiché sur seva.bzh alors qu'il n'est plus disponible sur le site marchand ?</h2>
            <p>Nous mettons en place tous les moyens nécessaires pour vous apporter une information fiable et actualisée. Cependant, malgré le soin que nous apportons à la mise à jour de ce site, des erreurs ou omissions peuvent être présentes. En conséquence, l'éditeur ne peut être tenu responsable. Nous ne garantissons pas le contenu des sites Internet vers lesquels nous pointons.</p>
            <p>Si vous rencontrez des problèmes avec le site, n'hésitez pas à nous contacter par mail (contact@seva.bzh) ou par le biais du formulaire de contact.</p>
        </div>
    </div>
</div>