<div class="container">
<h1 class="text-center">Mentions légales</h1>
<h3>Editeur :</h3>
<p>SEVA</p>
<p>24 B rue du Coteau de Kermabeuzen</p>
<p>29000 Quimper</p>
<h3>Société :</h3> 
<p>SASU SEVA au capital de 2000€</p>
<p>Établie au R.C.S de Quimper</p>
<p>Siren : 831 943 196</p>
<p>Siège social : 24 B RUE DU COTEAU DE KERMABEUZEN 29000 QUIMPER, France.</p>
</br>
<p>TVA : FR 06831943196</p>
</br>
<h3>Réalisation du site :</h3>
<p>Maxime Bielmann</p>
</br>
<h3>Hébergement :</h3>
<p>OVH</p>
<p>2 rue Kellermann</p>
<p>59100 Roubaix - France.</p>
</br>
<h3>Droits d'auteurs :</h3>
<p>Ce site et les éléments qui le composent constituent des œuvres protégées par la législation française et les conventions internationales relatives au droit d'auteur et à la propriété intellectuelle. La reproduction de tout ou partie de ce site sur support électronique ou papier (y compris les documents téléchargeables) est formellement interdite sauf autorisation express de l'éditeur. Pour toute reproduction autorisée, le nom de l'auteur et celui de la source devront être obligatoirement mentionnés. Certains éléments graphiques peuvent provenir du site freepik.com</p>
</br>
<h3>Crédit photos :</h3>
<p>Les photos et autres illustrations font l'objet de droits réservés. </p>
</br>
<h3>Confidentialité - Loi Informatique et Libertés</h3>
<p>Soucieux de préserver votre intimité, nous nous engageons expressément à ne pas divulguer à des tiers les informations que vous nous communiquez dans le cadre de ce site internet.</p>
<p>Conformément à la loi française (article 27 de la loi n° 78.17 du 06/01/1978 relative à l'informatique, aux fichiers et aux libertés) vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données personnelles conservées. Pour l'exercer, contactez-nous par courrier à l'adresse ci-dessus.</p>
</br>
<h3>Absence de garantie :</h3>
<p>Nous mettons en place tous les moyens nécessaires pour vous apporter une information fiable et actualisée. Cependant, malgré le soin que nous apportons à la mise à jour de ce site, des erreurs ou omissions peuvent être présentes. En conséquence, l'éditeur ne peut être tenu responsable. Nous ne garantissons pas le contenu des sites Internet vers lesquels nous pointons.</p>
</div>