 <div class="container">
    <section class="slide1">
    		<div class="wrap-slick1">
    			<div class="slick1">
    			    <div class="item-slick1 item1-slick1" style="background-image: url(https://res.cloudinary.com/hqfexni0y/image/upload/v1546958655/Home/home.jpg); max-height: 300px;">
                        <div class="wrap-content-slide1 flex-col-c-m p-l-15 p-r-15 p-t-120 ">
    						<p class="caption2-slide1 l-text1 t-center">
    							Bienvenue dans le coin presse
    						</p>
    						<div class="row justify-content-center">
                            </div>
    					</div>
    			    </div>
    		    </div>
    		</div>
    </section>
    <div class="row m-t-100 m-b-30">
        <div class="col-md-6">
            <h3>Dossier de presse</h3>
        </div>
    </div>
    <div class="row m-t-30 m-b-100">
        <div class="col-md-4">
            <a href="https://drive.google.com/file/d/1LHhu1AWSX2_uDSnaWQZ1unT3oeA6_SmI/view?usp=sharing" target="_blank" class="logo">
				<%= image_tag "logo.png" %>
			</a>
        </div>
    </div>
</div>
    