<div class="container">
	<div class="row">
		<% @releases.each do |release| %>
		<div class="col-md-3">
				<a href="/sneakers/<%= release.sneaker.id %>">
          		<%= image_tag release.sneaker.img_url, class:'img-fluid' %>
          		<p><%= release.sneaker.title %></p></a>
        </div>
        <% end %>
	</div>
</div>
