<%# app/views/students/_list.html.erb %>
<div id="filterrific_results">
  <table>
    <tr>
      <th>Ref</th>
    </tr>
    <% sneakers.each do |sneaker| %>
      <tr>
        <td><%= sneaker.sneakers_ref %></td>
      </tr>
    <% end %>
  </table>
</div>